
.searchItem {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .siImg {
    width: 100px;
    height: 100px;
    object-fit: contain;
   
  }

  .siCancelSto{
    font-size: 14px;
    color: red;
  }

  
  .siDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
  }
  
  .siTitle {
    font-size: 20px;
    color: #0071c2;
  }
  
  .siDistance {
    font-size: 14px;
    font-weight: 500;
    color: #626971;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .hr-tag{
    width: 250px;
    height: 4px;

  }


  .siSubtitle-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.3rem;
    color: #626971;
  }

  
  .siTaxiOp {
    font-size: 12px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
  }
  
  .siSubtitle{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  }
  
  .siFeatures{
    font-size: 12px;
  }
  
  .siCancelOp{
    font-size: 1.4rem;
    color:#626971;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;

  }
  
  .siCancelOpSubtitle{
    font-size: 12px;
    color: #008009;
  }
  
  .siDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  
  .siRating{
    display: flex;
    justify-content: space-between
  }
  
  .siRating>span{
    font-weight: 500;
  }
  .siRating>button{
   background-color: #003580;
   color: white;
   padding: 5px;
   font-weight: bold;
   border: none;
  }
  
  .siDetailTexts{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .siPrice{
    font-size: 24px;
    color: #008009;
    font-weight: 600;
  }

  .flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flexbox-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
  .siTaxOp{
    font-size: 12px;
    color: gray;
  }
  
  .siCheckButton{
    background-color: #0071c2;
    width: 50%;
    margin-left: 8rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .searchItem {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }
    
    .siImg {
      width:30%;
      margin: auto;
      height: auto;
    }
  
    .siDesc {
      flex: none;
      align-items: center;
    }
  
    .siTitle {
      font-size: 18px;
      
    }
  
    .siDistance {
      font-size: 12px;
    }
  
    .hr-tag{
      width: 100%;
    }
  
    .siSubtitle-icon {
      margin-top: 1rem;
      text-align: center;
    }
  
    .siTaxiOp {
      font-size: 10px;
    }
    
    .siSubtitle {
      font-size: 1.2rem;
    }
  
    .siFeatures {
      font-size: 10px;
    }
  
    .siCancelOp {
      font-size: 1.2rem;
    }
  
    .siCancelOpSubtitle {
      font-size: 10px;
    }
  
    .siDetails {
      flex: none;
    }
  
    .siRating {
      flex-direction: column;
      gap: 5px;
    }
  
    .siRating > button {
      padding: 3px;
      font-size: 10px;
    }
  
    .siDetailTexts {
      text-align: left;
      gap: 3px;
    }
  
    .siPrice {
      font-size: 20px;
      font-weight: 600;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
    }
  
    .flexbox {
      flex-direction: column;
      gap: 5px;
    }
  
    .flexbox-two {
      flex-direction: column;
      gap: 5px;
    }
  
    .siTaxOp {
      font-size: 10px;
    }
  
    .siCheckButton {
      font-size: 14px;
      padding: 8px;
     margin-left: 0;
     width: 100%;
     margin-top: 0.6rem;
     
    }
  }
  